
.type{
    width: 100%;
    align-content: center;
    background-color: #282c34;
    text-align: center;
    font-family: "Roboto Slab ExtraLight";
}

.Cards{
    /* background-color: #f2f0ef ; */
    align-items: center;
    align-self: center;
    align-content: center;
    position: center;
    child-align: middle;
}
.page-footer{
    /* background-color: #282c34; */
    background-color: rgb(248,249,250);
}
.footer-copyright{
    color:black;
    background-color: rgb(248,249,250);
}
.greet{
    text-align: center;
    /* background-color: #c9c8c7; */
    color: black;
    padding: 10px;
}
